<header style="background-color:#004445">
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
    <div class="container" style="display: contents">
      <div class="dropdown">
        <i class="fa fa-bars navbar-brand"></i>
        <div class="dropdown-content">
          <a style="border-bottom: 1px solid;" [routerLink]="['/']">Home page</a>
          <a style="border-bottom: 1px solid;" [routerLink]="['/calendar']">Calendar</a>
          <a style="border-bottom: 1px solid;" [routerLink]="['/to-do-list']">To do list</a>
          <a style="border-bottom: 1px solid;" [routerLink]="['/friends']">Friends</a>
          <a style="border-bottom: 1px solid;" [routerLink]="['/places']">Defined places</a>
        </div>
      </div>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <div id="notificationBtn" class="dropdown" style="display:none;margin-top:-8px">
              <button *ngIf="noNotifications" class="btn" (click)="showNotifications()" style="background-color:transparent;border:none;"><i style="font-size:1.4rem;" class="fa fa-bell-slash navbar-brand"></i></button>
              <button *ngIf="!noNotifications" class="btn" (click)="showNotifications()" style="background-color:transparent;border:none;"><i style="font-size:1.4rem;" class="fa fa-bell navbar-brand"></i></button>
              <div *ngIf="showNotificationsList" class="dropdown-content" style="right:0;left:auto;min-width:290px;display:block">
                <notifications-component [userId]="userId" (onChange)="notificationsChanged($event)"></notifications-component>
              </div>
            </div>
          </li>
          <li>
            <div>
              <button id="loginBtn" (click)="fbLogin()" class="fb btn" style="display:none;margin-top:8px;">
                <i class="fa fa-facebook fa-fw" style="margin-left:-5px;"></i> Log In
              </button>
            </div>
          </li>
          <li>
            <div>
              <button id="logoutBtn" (click)="fbLogout()" class="fb btn" style="display:none;margin-top:8px;">
                <i class="fa fa-facebook fa-fw" style="margin-left:-5px;"></i> Log Out
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
