<form [formGroup]="editEventForm" (ngSubmit)="onSubmit()">
  <!-- invited friends -->
  <ul class="invitedfriends" *ngIf="initializeInvitedList() && currentEvent != null">
    <ng-container *ngFor="let friend of invited">
      <li class="invitedFriend">
        <img src={{friend.photoUrl}} alt="invited friend's photo" class="profile-photo-s" />
        <span class="nameTooltip">{{friend.name}}</span>
      </li>
    </ng-container>
  </ul>

  <div style="display:grid" *ngIf="currentEvent != null ">
    <label style="padding-top: 10px;" for="name">
      Title
    </label>
    <input id="title" type="text" formControlName="title" [value]="editedEvent.title" readonly>
  </div>
  <div style="display:grid">
    <label style="padding-top: 10px;" for="name">
      Start date
    </label>
    <div>
      <input style="width:40%;margin-right:10px" type="date" id="startDate" name="startDate" [value]="getStartDate()" readonly>
      <input type="time" id="startDateTime" name="startDateTime" [value]="getStartTime()" readonly>
    </div>
  </div>
  <div style="display:grid">
    <label style="padding-top: 10px;" for="name">
      End date
    </label>
    <div>
      <input style="width:40%;margin-right:10px" type="date" id="endDate" name="endDate" [value]="getEndDate()" readonly>
      <input type="time" id="endDateTime" name="appt" [value]="getEndTime()" readonly>
    </div>
  </div>
  <div style="display:grid" *ngIf="currentEvent != null">
    <label style="padding-top:10px;" for="city">
      City
    </label>
    <input style="width:50%;" id="city" type="text" formControlName="city" [value]="currentEvent.city" readonly>
  </div>
  <div style="display:grid" *ngIf="currentEvent != null">
    <label style="padding-top:10px;" for="streetAddress">
      Street address
    </label>
    <input style="width:70%;" id="streetAddress" type="text" formControlName="streetAddress" [value]="currentEvent.streetAddress" readonly>
  </div>

  <div style="display:grid" *ngIf="currentEvent != null">
    <label style="padding-top:10px;" for="name">
      Description
    </label>
    <textarea class="description" id="description" type="text" formControlName="description" [value]="currentEvent.description" readonly></textarea>
  </div>

  <div style="float:right">
    <button style="margin-top:20px;margin-right:10px;opacity:0.6" class="btn btn-secondary" (click)="cancel()">Close</button>
    <button style="margin-top:20px;margin-right:10px;" class="btn btn-primary" (click)="resignAndDelete()">Remove from calendar</button>
  </div>
</form>
