@import "../../colors.css";

.list {
  margin-left: 80px;
}

button {
  background-color: var(--yellow);
}

.btn-secondary {
  background-color: var(--color-light-green);
}

.btn-info {
  background-color: var(--color-light-green);
  border: none;
}

i.fa {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  padding-bottom: 0px;
  color: var(--color-dark-green);
}

i.fa-star {
  color: yellow;
  text-shadow: 0 0 3px black;
}

h2 {
  color: var(--color-dark-green);
}

.fa-check-circle {
  font-size: 1.6rem;
  color: var(--color-light-green) !important;
  text-shadow: 0 0 2px var(--color-light-green);
}

.fa-circle {
  font-size: 1.5rem;
  text-shadow: 0 0 4px black;
  color: white !important;
}

.checkButton {
    padding: 0px;
    background-color: transparent;
    margin-left: 27px;
}

.link {
    text-decoration: underline;
}

.link:hover {
    cursor:pointer;
}

.fa-check-square-o {
  padding-right: 7px;
  font-size: 1.1rem;
}

fa-minus-square-o {
  padding-right: 7px;
  font-size: 1.1rem;
}

.fa-plus {
  padding-right: 7px;
  font-size: 1.1rem;
}

.fa-calendar {
  padding-right: 7px;
  font-size: 1.1rem;
}
