@import "../../colors.css";

.list {
  margin-left: 80px;
}

button {
  background-color: var(--yellow);
}

.checkbox-round {
  width: 1.5em;
  height: 1.5em;
  margin-left: 25px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

i.fa {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  padding-bottom: 0px;
  color: var(--color-dark-green);
}

i.fa-star {
  color: yellow;
  text-shadow: 0 0 3px black;
}

h2 {
  color: var(--color-dark-green);
}
