<div>
  <h2>My Tasks</h2>
  <div style="display:flex">
    <h4>Category:</h4>
    <kendo-dropdownlist style="margin-left:20px;"
                        [data]="listCategories"
                        [value]="listCategories[0]"
                        [textField]="'category'"
                        [valueField]="'id'"
                        (valueChange)="onCategoryChange($event)">
    </kendo-dropdownlist>
    <button style="margin-left:30px;" class="btn btn-primary" (click)="openAddNewCategoryModal()"><i class="fa fa-plus"></i>Add new category</button>
    <button style="margin-left:30px;" class="btn btn-secondary" (click)="findDates()"><i class="fa fa-calendar"></i>Find dates for {{ mySelection.length }} task(s)</button>
  </div>

  <kendo-grid style="margin-top:30px;"
              [kendoGridBinding]="gridData"
              [height]="560"
              [sort]="sort"
              [sortable]="true"
              kendoGridSelectBy="id"
              [selectable]="true"
              [selectedKeys]="mySelection">
    <kendo-grid-column field="isDone" width="110" title="Is Done">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div *ngIf="dataItem.isDone">
          <button class="btn checkButton" (click)="checked(dataItem)"><i class="fa fa-check-circle"></i></button>
        </div>
        <div *ngIf="!dataItem.isDone">
          <button class="btn checkButton" (click)="checked(dataItem)"><i class="fa fa-circle"></i></button>
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="priority" title="Priority" width="100">
      <ng-template kendoGridCellTemplate let-dataItem>
        <ng-template [ngIf]="dataItem.priority == 2">
          <div>
            <i class="fa fa-star"></i>
          </div>
        </ng-template>
        <ng-template [ngIf]="dataItem.priority == 1">
          <div>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </ng-template>
        <ng-template [ngIf]="dataItem.priority == 0">
          <div>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </ng-template>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="title" title="To do">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div *ngIf="dataItem.isDone==false">
          <a class="link" (click)="openEditTaskModal(dataItem)">{{dataItem.title}}</a>
        </div>
        <div *ngIf="dataItem.isDone==true">
          <a class="link" (click)="openEditTaskModal(dataItem)"><s>{{dataItem.title}}</s></a>
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Delete" width="80">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div>
          <button class="btn" style="background-color:transparent" (click)="removeTask(dataItem)"><i class="fa fa-trash" style="margin-left:8px;"></i></button>
        </div>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>

  <div style="float:right">
    <button *ngIf="gridData.length > mySelection.length" style="margin-right:30px;margin-top:20px;" class="btn btn-secondary" (click)="selectAll()"><i class="fa fa-check-square-o"></i>Select all</button>
    <button *ngIf="gridData.length <= mySelection.length" style="margin-right:30px;margin-top:20px;" class="btn btn-secondary" (click)="unselectAll()">Unselect all</button>
    <button style="margin-top:20px;" class="btn btn-primary" (click)="openAddNewTaskModal()"><i style="padding-right:7px;font-size:1.1rem" class="fa fa-plus"></i>Add to-do</button>
  </div>
</div>

<kendo-dialog title="Add new category" *ngIf="addNewCategoryModalVisible" (close)="closeAddNewCategoryModal()" [minWidth]="250" [width]="450">
  <add-new-category-modal [userId]="userId" (onCancel)="closeAddNewCategoryModal()" (onSave)="addCategory($event)"></add-new-category-modal>
</kendo-dialog>

<kendo-dialog title="Add new to-do" *ngIf="addNewTaskModalVisible" (close)="closeAddNewTaskModal()" [minWidth]="250" [width]="450" [maxHeight]="650">
  <add-new-task-modal [userId]="userId" (onCancel)="closeAddNewTaskModal()" (onSave)="addTask($event)"></add-new-task-modal>
</kendo-dialog>

<kendo-dialog *ngIf="openTask" (close)="closeOpenTaskModal()" [minWidth]="250" [width]="450" [maxHeight]="650">
  <kendo-dialog-titlebar>
    <div style="margin-left: 5px;"><span class="k-icon k-i-user" style="margin-top:-6px;padding-right: 5px;"></span>Edit task</div>
  </kendo-dialog-titlebar>
  <edit-task-modal [userId]="userId" [editedTask]="currentTask" (onCancel)="closeOpenTaskModal()" (onSave)="editTask($event)"></edit-task-modal>
</kendo-dialog>

<kendo-dialog title="Week plan proposition" *ngIf="findDatesModalVisible" (close)="closeFindDatesModal()" [minWidth]="250" [width]="700">
  <find-dates-modal (onCancel)="closeFindDatesModal()" (onSave)="saveDates($event)" [foundDates]="foundDates"></find-dates-modal>
</kendo-dialog>
