<form [formGroup]="editEventForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      Set as public
    </label>
    <button *ngIf="!isPublic" class="btn" style="background-color:transparent;" (click)="changeVisibility()"><i class="fa fa-toggle-off"></i></button>
    <button *ngIf="isPublic" class="btn" style="background-color:transparent;" (click)="changeVisibility()"><i class="fa fa-toggle-on"></i></button>
  </div>
  <div style="display:grid">
    <label for="name">
      Title <span class="required">*</span>
    </label>
    <input id="title" type="text" formControlName="title" [value]="editedEvent.title" required>
    <div *ngIf="title.invalid && (title.dirty || title.touched)"
         class="alert alert-danger">
      <div *ngIf="title.errors.required">
        Title is required.
      </div>
    </div>
  </div>
  <div style="display:grid">
    <label style="padding-top: 10px;" for="name">
      Start date <span class="required">*</span>
    </label>
    <div>
      <input style="width:40%;margin-right:10px" type="date" id="startDate" name="startDate" [value]="getStartDate()">
      <input type="time" id="startDateTime" name="startDateTime" [value]="getStartTime()">
    </div>
  </div>
  <div style="display:grid">
    <label style="padding-top: 10px;" for="name">
      End date <span class="required">*</span>
    </label>
    <div>
      <input style="width:40%;margin-right:10px" type="date" id="endDate" name="endDate" [value]="getEndDate()">
      <input type="time" id="endDateTime" name="appt" [value]="getEndTime()">
    </div>
    <div *ngIf="dateInvalid()"
         class="alert alert-danger">
      <div>
        End date must be greathen than start date.
      </div>
    </div>
  </div>
  <div style="display:grid" *ngIf="currentEvent != null">
    <label style="padding-top:10px;" for="city">
      City <span class="required">*</span>
    </label>
    <input style="width:50%;" id="city" type="text" formControlName="city" [value]="currentEvent.city" required>
    <div *ngIf="city.invalid && (city.dirty || city.touched)"
         class="alert alert-danger">
      <div *ngIf="city.errors.required">
        City is required.
      </div>
    </div>
  </div>
  <div style="display:grid" *ngIf="currentEvent != null">
    <label style="padding-top:10px;" for="streetAddress">
      Street address <span class="required">*</span>
    </label>
    <input style="width:70%;" id="streetAddress" type="text" formControlName="streetAddress" [value]="currentEvent.streetAddress" required>
    <div *ngIf="streetAddress.invalid && (streetAddress.dirty || streetAddress.touched)"
         class="alert alert-danger">
      <div *ngIf="streetAddress.errors.required">
        Street address is required.
      </div>
    </div>
  </div>
  <div style="float:right">
    <button style="margin-top:20px;margin-right:10px" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    <button style="margin-top:20px;" class="btn btn-primary" type="submit">Save</button>
  </div>
</form>
