<div class="col" style="display:flex;margin-bottom:30px">

  <div class="row" style="width:50%; margin-top:30px;">
    <h4>My today's events</h4>
    <div *ngIf="events.length==0">
      <label style="margin-left:-12rem;margin-top:55px">No events for today :)</label>
    </div>
    <ng-container *ngIf="events.length>0">
      <ul class="row-md-12 col-md-12" style="min-height:99px;max-height:160px;overflow-y:auto;margin-top:5px;margin-left:-15px;text-align:center;margin-top:1rem">
        <ng-container *ngFor="let event of events">
          <li class="table-row" id="block_container">
            <div class="col-md-7 col-sm-7">
              <label>{{event.title}}</label>
            </div>
          </li>
        </ng-container>
      </ul>
    </ng-container>
  </div>

  <div class="row" style="width:50%; margin-top:30px;margin-left:4em;">
    <h4>My today's tasks</h4>
    <div *ngIf="tasks.length==0">
      <label style="margin-left:0rem;margin-top:55px">No tasks for today :)</label>
      <br />
      <button class="btn btn-secondary" style="margin-bottom:30px;box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);background-color:var(--yellow);" (click)="showFindToDoModal()">Find something to do</button>
    </div>
    <ng-container *ngIf="tasks.length>0">
      <ul class="row-md-12 col-md-12" style="min-height: 99px; max-height: 160px; overflow-y: auto; margin-top: 5px; text-align: center; margin-left: -15px; margin-top: 1rem">
        <ng-container *ngFor="let task of tasks">
          <li class="table-row" id="block_container">
            <div class="col-md-7 col-sm-7">
              <label>{{task.title}}</label>
            </div>
          </li>
        </ng-container>
      </ul>
    </ng-container>
  </div>
</div>

<agm-map [latitude]="lat" [longitude]="lng" style="height: 400px ">
  <agm-marker *ngFor="let point of eventPoints" [latitude]="point.lat" [longitude]="point.lng" [iconUrl]="'https://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|f8b400'">
    <agm-info-window #window>
      Event: {{point.title}}
      <br />
      Address: {{point.address}}
      <br />
      Time: {{point.hour}}
    </agm-info-window>
  </agm-marker>
  <agm-marker *ngFor="let point of taskPoints" [latitude]="point.lat" [longitude]="point.lng" [iconUrl]="'https://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|004445'">
    <agm-info-window #window>
      Task: {{point.title}}
      <br />
      Address: {{point.address}}
    </agm-info-window>
  </agm-marker>
  <div *ngIf="assignedPoints.length>1">
    <div *ngFor="let point of assignedPoints; let last=last;">
      <agm-direction *ngIf="!last" [origin]="point" [destination]="assignedPoints[point.ind+1]" [renderOptions]="{suppressMarkers: true}"></agm-direction>
    </div>
  </div>
</agm-map>

<kendo-dialog title="Pick something to do" *ngIf="findToDoModalVisible" (close)="closeFindToDoModal()" [minWidth]="250" [width]="700">
  <find-to-do-modal (onCancel)="closeFindToDoModal()" (onSave)="saveTasksForToday()"></find-to-do-modal>
</kendo-dialog>
