@import "../../colors.css";

h4 {
    color: var(--color-dark-green);
}


label {
  color: var(--color-dark-green);
}


.btn-primary {
  background-color: var(--yellow);
}

.btn-secondary {
  background-color: var(--color-light-green);
}

#block_container {
  display: flex;
  justify-content: center;
  padding: 5px;
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: linear-gradient(120deg, var(--color-light-green) 0%, var(--color-dark-green) 100%);
  /*rgba(255,0,0,0.8);*/
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

  ::-webkit-scrollbar-thumb:window-inactive {
    background: linear-gradient(120deg, var(--color-light-green) 0%, var(--color-dark-green) 100%);
  }

.searchBar {
  margin-top: 10px;
  margin-left: -14px;
  width: 387px;
}

.table-row {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: var(--color-light-green);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
  width: 250px;
  margin-bottom: 5px;
}

.table-row:hover {
  width: 280px;
  font-size: large;
}

