<h1 style="color: #f8b400">Hello, world!</h1>
<agm-map [latitude]="lat" [longitude]="lng" style="height:400px">
  <agm-marker *ngFor="let point of points" [latitude]="point.lat" [longitude]="point.lng" [label]="point.label">
    <agm-info-window #window>
      <h6>Id: {{point.id}}</h6>
      <h6>Title: {{point.title}}</h6>
    </agm-info-window>
  </agm-marker>
  <agm-polyline [strokeColor]="'#CC0066'">
    <agm-polyline-point *ngFor="let point of points" [latitude]="point.lat" [longitude]="point.lng"></agm-polyline-point>
  </agm-polyline>

  <!--some possible features to be shown on map:-->

  <!--<agm-polygon [paths]="paths" [strokeColor]="'#009999'" [fillColor]="'8080ff'"></agm-polygon>-->
  <!--<agm-direction [origin]="origin" [destination]="destination"></agm-direction>-->
  <!--<agm-transit-layer></agm-transit-layer>-->
  <!--<agm-kml-layer></agm-kml-layer>-->
  <!--<agm-bicycling-layer></agm-bicycling-layer>-->
  <!--<agm-data-layer></agm-data-layer>-->
  <!--<agm-pan-control></agm-pan-control>-->
  <!--<agm-fullscreen-control></agm-fullscreen-control>-->
  <!--<agm-map-type-control></agm-map-type-control>-->
  <!--<agm-rotate-control></agm-rotate-control>-->
  <!--<agm-scale-control></agm-scale-control>-->
  <!--<agm-street-view-control></agm-street-view-control>-->
  <!--<agm-zoom-control></agm-zoom-control>-->
</agm-map>

