<div class="col" style="display:flex">

  <div class="row" style="width:50%; margin-top:30px;">
    <h4 style="color:#004445;">My today's events</h4>
    <div *ngIf="events.length==0">
      <label style="margin-left:-12rem;color:#004445;margin-top:55px">No events for today :)</label>
    </div>
    <ng-container *ngIf="events.length>0">
      <ul class="row-md-12 col-md-12" style="max-height:300px;overflow-y:scroll; margin-top:50px">
        <ng-container *ngFor="let event of events">
          <li id="block_container">
            <div class="col-md-7 col-sm-7">
              <label style="margin-left:-4rem;color:#004445;">{{event.title}}</label>
            </div>
          </li>
        </ng-container>
      </ul>
    </ng-container>
  </div>

  <div class="row" style="width:50%; margin-top:30px;margin-left:4em;">
    <h4 style="color:#004445;">My today's tasks</h4>
    <div style="margin-left:-11rem;" *ngIf="tasks.length==0">
      <label style="color:#004445;margin-top:55px">No tasks for today :)</label>
      <br />
      <button class="btn btn-secondary" style="margin-bottom:30px" (click)="showFindToDoModal()">Find something to do</button>
    </div>
    <ng-container *ngIf="tasks.length>0">
      <ul class="row-md-12 col-md-12" style="max-height:300px;overflow-y:scroll; margin-top:50px">
        <ng-container *ngFor="let task of tasks">
          <li id="block_container">
            <div class="col-md-7 col-sm-7">
              <label style="margin-left:-4rem;color: #004445;">{{task.title}}</label>
            </div>
          </li>
        </ng-container>
      </ul>
    </ng-container>
  </div>
</div>
<agm-map [latitude]="lat" [longitude]="lng" style="height:400px">
  <agm-marker *ngFor="let point of eventPoints" [latitude]="point.lat" [longitude]="point.lng" [iconUrl]="'https://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|f8b400'">
    <agm-info-window #window>
      Event: {{point.title}}
      <br />
      Address: {{point.address}}
      <br />
      Time: {{point.hour}}
    </agm-info-window>
  </agm-marker>
  <agm-marker *ngFor="let point of taskPoints" [latitude]="point.lat" [longitude]="point.lng" [iconUrl]="'https://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|004445'">
    <agm-info-window #window>
      Task: {{point.title}}
      <br />
      Address: {{point.address}}
    </agm-info-window>
  </agm-marker>
  <agm-polyline [strokeColor]="'#aaa'">
    <agm-polyline-point *ngFor="let point of assignedPoints" [latitude]="point.lat" [longitude]="point.lng"></agm-polyline-point>
  </agm-polyline>

  <!--some possible features to be shown on map:-->
  <!--<agm-polygon [paths]="paths" [strokeColor]="'#009999'" [fillColor]="'8080ff'"></agm-polygon>-->
  <!--<agm-direction [origin]="origin" [destination]="destination"></agm-direction>-->
  <!--<agm-transit-layer></agm-transit-layer>-->
  <!--<agm-kml-layer></agm-kml-layer>-->
  <!--<agm-bicycling-layer></agm-bicycling-layer>-->
  <!--<agm-data-layer></agm-data-layer>-->
  <!--<agm-pan-control></agm-pan-control>-->
  <!--<agm-fullscreen-control></agm-fullscreen-control>-->
  <!--<agm-map-type-control></agm-map-type-control>-->
  <!--<agm-rotate-control></agm-rotate-control>-->
  <!--<agm-scale-control></agm-scale-control>-->
  <!--<agm-street-view-control></agm-street-view-control>-->
  <!--<agm-zoom-control></agm-zoom-control>-->
</agm-map>

<kendo-dialog title="Pick something to do" *ngIf="findToDoModalVisible" (close)="closeFindToDoModal()" [minWidth]="250" [width]="700">
  <find-to-do-modal (onCancel)="closeFindToDoModal()" (onSave)="saveTasksForToday()"></find-to-do-modal>
</kendo-dialog>
