<div>
  <div style="width:100%;display:inline-block">
    <div class="btn-group" style="float:left">
      <i class="fa fa-chevron-circle-left"
         style="cursor:pointer"
         mwlCalendarPreviousView
         [view]="view"
         [(viewDate)]="viewDate">
      </i>
      <div class="title">{{viewDate | calendarDate:(view + 'ViewTitle'):'en'}}</div>
      <i class="fa fa-chevron-circle-right"
         style="cursor:pointer"
         mwlCalendarNextView
         [view]="view"
         [(viewDate)]="viewDate">
      </i>
    </div>
    <div style="float:right">
      <button class="btn btn-primary" style="margin-right:10px" (click)="getWeekView()">Week view</button>
      <button class="btn btn-primary" style="margin-right:10px" (click)="getMonthView()">Month view</button>
      <button class="btn btn-primary" (click)="getDayView()">Day view</button>
    </div>
  </div>
  <mwl-calendar-month-view [viewDate]="viewDate"
                           *ngIf="monthView"
                           weekStartsOn="1"
                           [events]="events"
                           [activeDayIsOpen]="activeDayIsOpen"
                           [refresh]="refresh"
                           (dayClicked)="dayClicked($event.day)"
                           (eventClicked)="eventClicked($event.event)"
                           (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view [viewDate]="viewDate"
                          *ngIf="weekView"
                          weekStartsOn="1"
                          [refresh]="refresh"
                          [events]="events"
                          (eventTimesChanged)="eventTimesChanged($event)"></mwl-calendar-week-view>
  <mwl-calendar-day-view [viewDate]="viewDate"
                         *ngIf="dayView"
                         [refresh]="refresh"
                         [events]="events"
                         (eventTimesChanged)="eventTimesChanged($event)"></mwl-calendar-day-view>

  <div style="float:right">
    <button class="btn btn-primary" (click)="openAddNewEventModal()"><i style="padding-right:7px;font-size:1.1rem" class="fa fa-plus"></i>Add new event</button>
  </div>
</div>

<kendo-dialog *ngIf="openAttendedEvent" (close)="closeOpenAttendedEventModal()" [minWidth]="250" [width]="450" [maxHeight]="650">
  <kendo-dialog-titlebar>
    <div><span class="k-icon k-i-myspace"></span>Event details</div>
  </kendo-dialog-titlebar>
  <attended-event-details-modal [editedEvent]="editedEvent" (onCancel)="closeOpenAttendedEventModal()" (onSave)="removeAttendedEvent()" ></attended-event-details-modal>
</kendo-dialog>


<kendo-dialog *ngIf="openEvent" (close)="closeOpenEventModal()" [minWidth]="250" [width]="450" [maxHeight]="650">
  <kendo-dialog-titlebar>
    <div *ngIf="isPublic"><span class="k-icon k-i-myspace"></span>Edit event</div>
    <div *ngIf="!isPublic"><span class="k-icon k-i-user"></span>Edit event</div>
  </kendo-dialog-titlebar>
  <edit-event-modal [editedEvent]="editedEvent" (onCancel)="closeOpenEventModal()" (onSave)="editEvent($event)" (onChangeVisibility)="eventVisibilityChanged($event)"></edit-event-modal>
</kendo-dialog>

<kendo-dialog *ngIf="openTask" (close)="closeOpenTaskModal()" [minWidth]="250" [width]="450" [maxHeight]="650">
  <kendo-dialog-titlebar>
    <div><span class="k-icon k-i-user"></span>Edit task</div>
  </kendo-dialog-titlebar>
  <edit-task-as-event-modal [userId]="userId" [editedTask]="editedEvent" (onCancel)="closeOpenTaskModal()" (onSave)="editTask($event)"></edit-task-as-event-modal>
</kendo-dialog>

<kendo-dialog *ngIf="addNewEventModalVisible" (close)="closeAddNewEventModal()" [minWidth]="250" [width]="450" [maxHeight]="650">
  <kendo-dialog-titlebar>
    <div *ngIf="isPublic"><span class="k-icon k-i-myspace"></span>Create new event</div>
    <div *ngIf="!isPublic"><span class="k-icon k-i-user"></span>Create new event</div>
  </kendo-dialog-titlebar>
  <add-event-modal (onCancel)="closeAddNewEventModal()" (onSave)="addEvent($event)" (onChangeVisibility)="eventVisibilityChanged($event)"></add-event-modal>
</kendo-dialog>
