<div *ngIf="access">

  <h2 class="labelName">
    <img src={{friendPicture}} alt="friend's photo" class="profile-photo-lg">

    {{friendName}}
  </h2>

  <div style="width:100%;display:inline-block">
    <div class="btn-group" style="float:left">
      <i class="fa fa-chevron-circle-left"
         style="cursor:pointer"
         mwlCalendarPreviousView
         [view]="view"
         [(viewDate)]="viewDate">
      </i>
      <div class="title">{{viewDate | calendarDate:(view + 'ViewTitle'):'en'}}</div>
      <i class="fa fa-chevron-circle-right"
         style="cursor:pointer"
         mwlCalendarNextView
         [view]="view"
         [(viewDate)]="viewDate">
      </i>
    </div>
    <div style="float:right">
      <button class="btn btn-primary" style="margin-right:10px" (click)="getWeekView()">Week view</button>
      <button class="btn btn-secondary" style="margin-right:10px" (click)="getMonthView()">Month view</button>
      <button class="btn btn-primary" (click)="getDayView()">Day view</button>
    </div>
  </div>
  <mwl-calendar-month-view [viewDate]="viewDate"
                           *ngIf="monthView"
                           weekStartsOn="1"
                           [events]="events"
                           [activeDayIsOpen]="activeDayIsOpen"
                           [refresh]="refresh"
                           (dayClicked)="dayClicked($event.day)"
                           (eventClicked)="eventClicked($event.event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view [viewDate]="viewDate"
                          *ngIf="weekView"
                          weekStartsOn="1"
                          [refresh]="refresh"
                          [events]="events"></mwl-calendar-week-view>
  <mwl-calendar-day-view [viewDate]="viewDate"
                         *ngIf="dayView"
                         [refresh]="refresh"
                         [events]="events"></mwl-calendar-day-view>

</div>

<kendo-dialog *ngIf="openEvent" (close)="closeOpenEventModal()" [minWidth]="250" [width]="450" [maxHeight]="650">
  <kendo-dialog-titlebar>
    <div><span class="k-icon k-i-myspace"></span>Event details</div>
  </kendo-dialog-titlebar>
  <event-details-modal [editedEvent]="editedEvent" (onCancel)="closeOpenEventModal()"></event-details-modal>
</kendo-dialog>
