@import "../../colors.css";

.btn-primary {
  background-color: var(--yellow);
}

.checkButton {
  padding: 0px;
  background-color: transparent;
  margin-left: 10px;
}

.fa-circle {
  font-size: 1.8rem;
}

input {
  width: 18px;
  height: 18px;
}
