.headline {
  text-align: center;
  position: relative;
  padding-top: 40px;
}

h1 {
  color: var(--yellow);
  font-size: 5em;
  margin: 0;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-size: 1.25em;
  color: var(--color-dark-green);
}
