@import "../../../colors.css";

.btn-primary {
  background-color: var(--yellow);
}

.add-date {
  font-size: 0.8rem;
  height: 30px;
  width: 100px;
  background-color: var(--color-light-green);
}

i.fa-plus {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  padding-bottom: 0px;
  font-size: 1.5rem;
  color: var(--color-dark-green);
}

.fa-toggle-on {
  font-size: 1.6rem;
  color: var(--color-dark-green);
}

.fa-toggle-off {
  font-size: 1.6rem;
  color: var(--color-dark-green);
}

.fa-check-circle {
  font-size: 1.6rem;
  color: var(--color-light-green) !important;
  text-shadow: 0 0 2px var(--color-light-green);
}

.fa-circle {
  font-size: 1.5rem;
  text-shadow: 0 0 4px black;
  color: white !important;
}

.checkButton {
  padding: 0px;
  background-color: transparent;
  margin-left: 27px;
}

.input-date {
  width: 40%;
  margin-right: 10px;
}

.parent-date {
    padding: 2px;
    display: grid;
}
