ul {
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 50% 50%);
}

img.profile-photo-lg {
  height: 70px;
  width: 70px;
  border-radius: 10%;
}

.searchBar {
  margin-top: 10px;
}

.list-group-item {
  border-top-width: 1px;
  margin-left: 2px;
  margin-right: 2px;
}

.list-item-elem {
  float: left;
}

.profile-link {
  padding: inherit;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
  margin-bottom: .5rem;
}

.label-friends {
  color: var(--color-light-green);
  margin-left: 14px;
}
