<form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
  <div style="display:grid">
    <label for="category">
      Category
    </label>
    <kendo-combobox [data]="listCategories"
                    [value]="listCategories[0]"
                    [textField]="'category'"
                    [valueField]="'id'"
                    (valueChange)="onCategoryChange($event)">
    </kendo-combobox>
  </div>
  <div style="display:grid">
    <label style="padding-top: 10px;" for="title">
      Title <span class="required">*</span>
    </label>
    <input id="title" type="text" formControlName="title" required>
    <div *ngIf="title.invalid && (title.dirty || title.touched)"
         class="alert alert-danger">
      <div *ngIf="title.errors.required">
        Title is required.
      </div>
    </div>
  </div>
  <div style="display:grid">
    <label for="priority" style="padding-top: 10px;">
      Choose priority:
    </label>
    <kendo-combobox [data]="priorities"
                    [value]="priorities[1]"
                    (valueChange)="onPriorityChange($event)">
    </kendo-combobox>
  </div>
  <div style="padding-top: 10px;">
    <label>
      Add start and end date
    </label>
    <button *ngIf="addDatesOff" class="btn" style="background-color:transparent;" (click)="turnOnAddDates()"><i class="fa fa-toggle-off"></i></button>
    <button *ngIf="!addDatesOff" class="btn" style="background-color:transparent" (click)="turnOffAddDates()"><i class="fa fa-toggle-on"></i></button>
  </div>
  <div *ngIf="!addDatesOff" style="display:grid">
    <label style="padding-top: 10px;" for="name">
      Start date <span class="required">*</span>
    </label>
    <div>
      <input style="width:40%;margin-right:10px" type="date" id="startDate" name="startDate">
      <input type="time" id="startDateTime" name="startDateTime" value="00:00">
    </div>
    <div *ngIf="startDateInvalid() && startDate.touched"
         class="alert alert-danger">
      <div>
        Start date is reqired.
      </div>
    </div>
  </div>
  <div *ngIf="!addDatesOff" style="display:grid">
    <label style="padding-top: 10px;" for="name">
      End date <span class="required">*</span>
    </label>
    <div>
      <input style="width:40%;margin-right:10px" type="date" id="endDate" name="endDate">
      <input type="time" id="endDateTime" name="appt" value="00:00">
    </div>
    <div *ngIf="endDateInvalid() && endDate.touched"
         class="alert alert-danger">
      <div>
        End date is reqired.
      </div>
    </div>
    <div *ngIf="dateInvalid()"
         class="alert alert-danger">
      <div>
        End date must be greathen than start date.
      </div>
    </div>
  </div>



  <div style="padding-top: 10px;">
    <label>
      Add date constraints
    </label>
    <button *ngIf="addDateConstraintsOff" class="btn" style="background-color:transparent;" (click)="turnOnAddDateConstraints()"><i class="fa fa-toggle-off"></i></button>
    <button *ngIf="!addDateConstraintsOff" class="btn" style="background-color:transparent" (click)="turnOffAddDateConstraints()"><i class="fa fa-toggle-on"></i></button>
  </div>
  <div *ngIf="!addDateConstraintsOff" style="display:grid">
    <label style="padding-top: 10px;" for="name">
      Days <span class="required">*</span>
    </label>
    <div class="weekDays-selector">
      <input type="checkbox" id="weekday-mon" class="weekday" checked="checked" (click)="onDayChange()" />
      <label for="weekday-mon">M</label>
      <input type="checkbox" id="weekday-tue" class="weekday" checked="checked" (click)="onDayChange()" />
      <label for="weekday-tue">T</label>
      <input type="checkbox" id="weekday-wed" class="weekday" checked="checked" (click)="onDayChange()" />
      <label for="weekday-wed">W</label>
      <input type="checkbox" id="weekday-thu" class="weekday" checked="checked" (click)="onDayChange()" />
      <label for="weekday-thu">T</label>
      <input type="checkbox" id="weekday-fri" class="weekday" checked="checked" (click)="onDayChange()" />
      <label for="weekday-fri">F</label>
      <input type="checkbox" id="weekday-sat" class="weekday" (click)="onDayChange()" />
      <label for="weekday-sat">S</label>
      <input type="checkbox" id="weekday-sun" class="weekday" (click)="onDayChange()" />
      <label for="weekday-sun">S</label>
    </div>
  </div>
  <div *ngIf="!addDateConstraintsOff" style="display:grid">
    <label style="padding-top: 10px;" for="name">
      Total duration <span class="required">*</span>
    </label>
    <div>
      <kendo-combobox [data]="hours"
                      [value]="hours[1]"
                      (valueChange)="onHourChange($event)">
      </kendo-combobox>
      <label style="margin-left:1em">hours</label>
    </div>
    <div>
      <kendo-combobox [data]="minutes"
                      [value]="minutes[0]"
                      (valueChange)="onMinuteChange($event)">
      </kendo-combobox>
      <label style="margin-left:1em">minutes</label>
    </div>
  </div>
  <div *ngIf="!addDateConstraintsOff" style="display:grid">
    <label style="padding-top: 10px;" for="name">
      Split into days<span class="required">*</span>
    </label>
    <kendo-combobox [data]="splits"
                    [value]="splits[0]"
                    (valueChange)="onSplitChange($event)">
    </kendo-combobox>
  </div>




  <div style="float:right">
    <button style="margin-top:20px;margin-right:10px" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    <button style="margin-top:20px;" class="btn btn-primary" type="submit">Save</button>
  </div>
</form>

