@import "../../../colors.css";

.btn-primary
{
    background-color: var(--yellow);
}

.fa-toggle-on {
  font-size: 1.6rem;
  color: var(--color-dark-green);
}

.fa-toggle-off {
  font-size: 1.6rem;
  color: var(--color-dark-green);
}

/*friends list*/
.friendsContainer {
  padding-top: 10px;
}

img.profile-photo-lg {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

#block_container {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #fbf1cf;
}

#friendsList {
  border-width: 10px;
  border-color: #f8b400;
  border-image: initial;
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: linear-gradient(120deg, #f6d365 0%, #f8b400 100%);
  /*rgba(255,0,0,0.8);*/
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

  ::-webkit-scrollbar-thumb:window-inactive {
    background: linear-gradient(120deg, #f6d365 0%, #f8b400 100%);
  }
