<form [formGroup]="editEventForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      Set as public <i class=" fa fa-info-circle"><span class="tooltiptext">When event is public all your friends can see it.</span></i>
    </label>
    <button *ngIf="!isPublic" class="btn" style="background-color:transparent;" (click)="changeVisibility()"><i class="fa fa-toggle-off"></i></button>
    <button *ngIf="isPublic" class="btn" style="background-color:transparent;" (click)="changeVisibility()"><i class="fa fa-toggle-on"></i></button>
  </div>

  <!-- invited friends -->
  <ul class="invitedfriends" *ngIf="isPublic">
    <ng-container *ngFor="let friend of invited">
      <li class="invitedFriend">
        <img src={{friend.photoUrl}} alt="invited friend's photo" class="profile-photo-s">
        <span class="nameTooltip">{{friend.name}}</span>
      </li>
    </ng-container>
  </ul>

  <div style="display:grid">
    <label style="padding-top:10px;" for="name">
      Title <span class="required">*</span>
    </label>
    <input style="width:70%;" id="title" type="text" formControlName="title" required>
    <div *ngIf="title.invalid && (title.dirty || title.touched)"
         class="alert alert-danger">
      <div *ngIf="title.errors.required">
        Title is required.
      </div>
    </div>
  </div>
  <div style="display:grid">
    <label style="padding-top:10px;" for="name">
      Start date <span class="required">*</span>
    </label>
    <div>
      <input style="width:40%;margin-right:10px" type="date" id="startDate" name="startDate" [value]="getStartDate()">
      <input type="time" id="startDateTime" name="startDateTime" [value]="getStartTime()">
    </div>
    <div *ngIf="startDateInvalid() && startDate.touched"
         class="alert alert-danger">
      <div>
        Start date is reqired.
      </div>
    </div>
  </div>
  <div style="display:grid">
    <label style="padding-top:10px;" for="name">
      End date <span class="required">*</span>
    </label>
    <div>
      <input style="width:40%;margin-right:10px" type="date" id="endDate" name="endDate" [value]="getStartDate()">
      <input type="time" id="endDateTime" name="appt" [value]="getEndTime()">
    </div>
    <div *ngIf="endDateInvalid() && endDate.touched"
         class="alert alert-danger">
      <div>
        End date is reqired.
      </div>
    </div>
    <div *ngIf="dateInvalid() && startDate.touched"
         class="alert alert-danger">
      <div>
        End date must be greathen than start date.
      </div>
    </div>
  </div>
  <div style="display:grid">
    <label style="padding-top:10px;" for="name">
      City <span class="required">*</span>
    </label>
    <input style="width:50%;" id="city" type="text" formControlName="city" required>
    <div *ngIf="city.invalid && (city.dirty || city.touched)"
         class="alert alert-danger">
      <div *ngIf="city.errors.required">
        City is required.
      </div>
    </div>
  </div>
  <div style="display:grid">
    <label style="padding-top:10px;" for="name">
      Street address <span class="required">*</span>
    </label>
    <input style="width:70%;" id="streetAddress" type="text" formControlName="streetAddress" required>
    <div *ngIf="streetAddress.invalid && (streetAddress.dirty || streetAddress.touched)"
         class="alert alert-danger">
      <div *ngIf="streetAddress.errors.required">
        Street address is required.
      </div>
    </div>
  </div>

  <!-- begin friends list -->
  <div class="container friendsContainer" *ngIf="isPublic">
    <!-- search -->
    <div class="p-0 bg-light rounded rounded-pill shadow-sm mb-1 searchBar">
      <div class="input-group">
        <div class="input-group-prepend">
          <button id="button-addon2" type="button" (click)="search()" class="btn btn-link text-warning"><i class="fa fa-search"></i></button>
        </div>
        <input type="search" id="searchInput" placeholder="Find friends!" class="form-control border-0 bg-light">
      </div>
    </div>
    <!-- end search -->
    <div class="row">
      <ul id="friendsList" class="list-group row-md-12 col-md-12" style="height: 200px; overflow-y: scroll">
        <ng-container *ngFor="let friend of friends">
          <li id="block_container" class="list-group-item" *ngIf="checkIfCanInvite(friend)">
            <div class="col-md-3 col-sm-3">
              <img src={{friend.photoUrl}} alt="friend's photo" class="profile-photo-lg">
            </div>
            <div class="col-md-7 col-sm-7">
              <label class="profile-link">{{friend.name}}</label>
            </div>
            <div class="col-md-2 col-sm-2">
              <button type="button" class="btn btn-primary pull-right" (click)="sendInvitation(friend)">Invite</button>
            </div>
          </li>
         </ng-container>
      </ul>
    </div>
  </div>
  <!-- end friends list  -->

  <div style="float:right">
    <button style="margin-top:20px;margin-right:10px" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    <button style="margin-top:20px;" class="btn btn-primary" type="submit">Save</button>
  </div>
</form>
