@import "../../colors.css";

.label-places {
  color: var(--color-light-green);
}

button {
  background-color: var(--yellow);
}

.fa-plus {
  padding-right: 7px;
  font-size: 1.1rem;
}

.fa-trash {
    color: var(--color-dark-green);
}
