:root {
  --yellow: #f8b400;
  --color-background: #faf5e4;
  --color-dark-green: #004445;
  --color-light-green: #76b39d;
  --color-facebook-button: #3B5998;
  --color-greyish: #b4af9e;
  --color-light-beige: #fbf1cf;
  --color-light-orange: #f8b400;
  --color-light-orange2: #f6d365;
  --color-gray: #aaa;
}
