/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.k-window-titlebar
{
  color: white;
  background-color: #9b786f;
  /*#123c69;*/
}

.k-window-content {
  background-color: #eee2dc;
  /*aliceblue*/
}

.alert {
  padding: .5rem 1rem;
}

.required {
  color: red;
}
