/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "colors.css";

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border: none;
}

.btn-primary:hover {
  background-color: var(--color-light-green);
}


.btn-secondary {
  border: none;
}

.k-window-titlebar
{
  color: white;
  background-color: var(--color-dark-green);
}

.k-window-content {
  background-color: var(--color-background);
}

.alert {
  padding: .5rem 1rem;
}

.required {
  color: red;
}

.cal-header {
    color: var(--color-dark-green);
}

.cal-header .cal-weekend {
  background-color: white !important;
}

.cal-weekend {
  background-color: #F5F5F5 !important;
}

.cal-weekend:hover {
  background-color: #D3D3D3 !important;
}

.cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
  opacity: 0.2;
}

.cal-month-view .cal-day-number {
  opacity: unset ;
  color: var(--color-dark-green);
}


.cal-month-view .cal-day-badge {
  background-color: #ff414d;
  color: #fff;
}

.fa-trash {
    color: var(--yellow);
}
